# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
/Assets/dreamlo/dreamloLeaderBoard.cs
/Assets/BlueBall.cs.meta
/Assets/dreamlo.meta
/Assets/dreamlo/dreamloLeaderBoard.cs.meta
/Assets/dreamlo/dreamloPrefab.prefab
/Assets/dreamlo/dreamloPrefab.prefab.meta
/Assets/dreamlo/dreamloPromoCode.cs
/Assets/dreamlo/dreamloPromoCode.cs.meta
/Assets/dreamlo/LeaderBoardSample.cs
/Assets/dreamlo/LeaderBoardSample.cs.meta
/Assets/dreamlo/LeaderBoardSampleScene.unity.meta
/Assets/dreamlo/README_FIRST.txt
/Assets/dreamlo/README_FIRST.txt.meta
/Assets/enemy.meta
/Assets/enemy/animation_enemy.cs
/Assets/enemy/animation_enemy.cs.meta
/Assets/Final/Breakout/BreakoutCamera.prefab
/Assets/Final/Breakout/BreakoutCamera.prefab.meta
/Assets/Final/Breakout/guiskins.meta
/Assets/Final/Breakout/guiskins/gameOver skin.guiskin
/Assets/Final/Breakout/guiskins/gameOver skin.guiskin.meta
/Assets/Final/Breakout/guiskins/Large gameOver skin.guiskin
/Assets/Final/Breakout/guiskins/Large gameOver skin.guiskin.meta
/Assets/Final/Breakout/guiskins/yourscore skin.guiskin
/Assets/Final/Breakout/guiskins/yourscore skin.guiskin.meta
/Assets/Final/Breakout/Materials/Materials.meta
/Assets/Final/Breakout/Materials/Materials/xjkkcfmn.mat
/Assets/Final/Breakout/Materials/Materials/xjkkcfmn.mat.meta
/Assets/Final/Breakout/Materials/trail_mat.mat
/Assets/Final/Breakout/Materials/trail_mat.mat.meta
/Assets/Final/Breakout/Materials/xjkkcfmn.png
/Assets/Final/Breakout/Materials/xjkkcfmn.png.meta
/Assets/Final/Breakout/Scripts/ChangeScene.cs
/Assets/Final/Breakout/Scripts/ChangeScene.cs.meta
/Assets/Final/Breakout/Scripts/Controller.cs
/Assets/Final/Breakout/Scripts/Controller.cs.meta
/Assets/Final/Breakout/Scripts/EndSceaneGUI.cs
/Assets/Final/Breakout/Scripts/EndSceaneGUI.cs.meta
/Assets/Final/Breakout/Scripts/SaveHighScore.cs
/Assets/Final/Breakout/Scripts/SaveHighScore.cs.meta
/Assets/Final/Breakout/Scripts/ScoreBoard.cs
/Assets/Final/Breakout/Scripts/ScoreBoard.cs.meta
/Assets/Final/Breakout/Scripts/ScoreGUI.cs
/Assets/Final/Breakout/Scripts/ScoreGUI.cs.meta
/Assets/Final/Breakout/Sounds.meta
/Assets/Final/Breakout/Sounds/6b7211_Super_Mario_Bros_3_Power_Down_Sound_Effect.mp3
/Assets/Final/Breakout/Sounds/6b7211_Super_Mario_Bros_3_Power_Down_Sound_Effect.mp3.meta
/Assets/Final/Breakout/Sounds/89a33c_Super_Mario_Bros_Power_Up_Sound_Effect.mp3
/Assets/Final/Breakout/Sounds/89a33c_Super_Mario_Bros_Power_Up_Sound_Effect.mp3.meta
/Assets/Final/Breakout/text.meta
/Assets/Final/Breakout/text/256 bytes.ttf
/Assets/Final/Breakout/text/256 bytes.ttf.meta
/Assets/Final/Breakout/text/6809 chargen.ttf
/Assets/Final/Breakout/text/6809 chargen.ttf.meta
/Assets/Final/Breakout/text/astron boy video.ttf
/Assets/Final/Breakout/text/astron boy video.ttf.meta
/Assets/Final/Breakout/text/astron boy wonder.ttf
/Assets/Final/Breakout/text/astron boy wonder.ttf.meta
/Assets/Final/Breakout/text/astron boy.ttf
/Assets/Final/Breakout/text/astron boy.ttf.meta
/Assets/Final/Breakout/text/betsy flanagan 2.ttf
/Assets/Final/Breakout/text/betsy flanagan 2.ttf.meta
/Assets/Final/Breakout/text/betsy flanagan.ttf
/Assets/Final/Breakout/text/betsy flanagan.ttf.meta
/Assets/Final/Breakout/text/borg9.ttf
/Assets/Final/Breakout/text/borg9.ttf.meta
/Assets/Final/Breakout/text/boron.ttf
/Assets/Final/Breakout/text/boron.ttf.meta
/Assets/Final/Breakout/text/crystal radio kit.ttf
/Assets/Final/Breakout/text/crystal radio kit.ttf.meta
/Assets/Final/Breakout/text/dignity of labour.ttf
/Assets/Final/Breakout/text/dignity of labour.ttf.meta
/Assets/Final/Breakout/text/fabian.ttf
/Assets/Final/Breakout/text/fabian.ttf.meta
/Assets/Final/Breakout/text/failed attempt.ttf
/Assets/Final/Breakout/text/failed attempt.ttf.meta
/Assets/Final/Breakout/text/fake receipt.ttf
/Assets/Final/Breakout/text/fake receipt.ttf.meta
/Assets/Final/Breakout/text/frozdotre.ttf
/Assets/Final/Breakout/text/frozdotre.ttf.meta
/Assets/Final/Breakout/text/golden girdle.ttf
/Assets/Final/Breakout/text/golden girdle.ttf.meta
/Assets/Final/Breakout/text/horsepower.ttf
/Assets/Final/Breakout/text/horsepower.ttf.meta
/Assets/Final/Breakout/text/hydrogen whiskey.ttf
/Assets/Final/Breakout/text/hydrogen whiskey.ttf.meta
/Assets/Final/Breakout/text/karma future.ttf
/Assets/Final/Breakout/text/karma future.ttf.meta
/Assets/Final/Breakout/text/karma suture.ttf
/Assets/Final/Breakout/text/karma suture.ttf.meta
/Assets/Final/Breakout/text/lady starlight.ttf
/Assets/Final/Breakout/text/lady starlight.ttf.meta
/Assets/Final/Breakout/text/lilliput steps.ttf
/Assets/Final/Breakout/text/lilliput steps.ttf.meta
/Assets/Final/Breakout/text/minisystem.ttf
/Assets/Final/Breakout/text/minisystem.ttf.meta
/Assets/Final/Breakout/text/orange kid.ttf
/Assets/Final/Breakout/text/orange kid.ttf.meta
/Assets/Final/Breakout/text/paraaminobenzoic.ttf
/Assets/Final/Breakout/text/paraaminobenzoic.ttf.meta
/Assets/Final/Breakout/text/quadaptor.ttf
/Assets/Final/Breakout/text/quadaptor.ttf.meta
/Assets/Final/Breakout/text/saved by zero rg.ttf
/Assets/Final/Breakout/text/saved by zero rg.ttf.meta
/Assets/Final/Breakout/text/sayso chic.ttf
/Assets/Final/Breakout/text/sayso chic.ttf.meta
/Assets/Final/Breakout/text/v dub.ttf
/Assets/Final/Breakout/text/v dub.ttf.meta
/Assets/Final/ClockTower.meta
/Assets/Final/ClockTower/ClockT.unity
/Assets/Final/ClockTower/ClockT.unity.meta
/Assets/Final/ClockTower/MaterialTemp.meta
/Assets/Final/ClockTower/MaterialTemp/TempM1.mat
/Assets/Final/ClockTower/MaterialTemp/TempM1.mat.meta
/Assets/Final/ClockTower/MaterialTemp/TempM2.mat
/Assets/Final/ClockTower/MaterialTemp/TempM2.mat.meta
/Assets/Final/ClockTower/MaterialTemp/TempM3.mat
/Assets/Final/ClockTower/MaterialTemp/TempM3.mat.meta
/Assets/Final/ClockTower/MaterialTemp/TempM4.mat
/Assets/Final/ClockTower/MaterialTemp/TempM4.mat.meta
/Assets/Final/ClockTower/MaterialTemp/TempM5.mat
/Assets/Final/ClockTower/MaterialTemp/TempM5.mat.meta
/Assets/Final/ClockTower/Runner.prefab
/Assets/Final/ClockTower/Runner.prefab.meta
/Assets/Final/Simon Says/muscle march.meta
/Assets/Final/Simon Says/muscle march/animation_test.cs
/Assets/Final/Simon Says/muscle march/animation_test.cs.meta
/Assets/Refrence assets/RunningDemo/RunningDemo.meta
/Assets/Refrence assets/RunningDemo/RunningDemo/NavMesh.asset
/Assets/Refrence assets/RunningDemo/RunningDemo/NavMesh.asset.meta
/Assets/Refrence assets/RunningDemo/SampleAgentScript.cs
/Assets/Refrence assets/RunningDemo/SampleAgentScript.cs.meta
